
.navbar {
    border-width: 1px;
    width: 100%;
    margin: 0 0 10%;
    
}

.nav-header{
    width: 100%;
    padding: 5px;
    margin: auto;
    display:flex;
    justify-content: left;
    z-index: 100;
    position: fixed;
    top: 0px;
    background-color: rgb(73, 73, 73);
    border-width: 1rem;
    border-radius: 5px;
    border-style: double;
}

.nav-item{
    padding: 1px;
    margin: 10px;
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    color:rgb(145, 167, 182);
    background-color: #5e6e88;
    font-family: sans-serif;
    font-size:larger
}

a:link{
    color:rgb(255, 255, 255);
}
a:visited{
    color:rgb(255, 255, 255);
}

.hamburger {
    display:none;
}
.bar{
    width: 70%;
    margin: 2px;
    font-size: larger;
    border-width: 2px;
    border-style:solid;
    color:rgb(207, 207, 207);
    background-color: rgb(221, 0, 0);
    
}

@media (max-width: 750px) {

    .navbar{
        padding-left: 10%;
        justify-content: flex;
        flex-direction:row-reverse;
    }
    
    .hamburger {
        width: 10%;
        height: 6%;
        margin-top: 24px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        z-index: 101;
        position: fixed;
        top: 0px;
        background-color: rgb(73, 73, 73);
        border-width: 5px;
        border-radius: 5px;
        border-style: solid;
        align-items: center;
    }

    

    .nav-header{
        align-items: center;
        display: flex;
        width: max-content;
        margin-top: 75px;        
    }

    .nav{
        
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .nav-item{
        width: 100%;
        margin: 1px;
        border-style: solid;
        color:rgb(145, 167, 182);
        background-color: #5e6e88;
        font-family: sans-serif;
        text-align: center;
    }
        /*lighten on hover
        hide when menu not clicked

        Make the Burger menu Work!

    */
}